{% extends 'base.html' %}

{% block title %} Zikipedia {% endblock %}

{% block content %}
<h2 class="text-primary">Afisare articole</h2>
<br />

<a class="btn btn-success" href="{% url 'article_create' %}">Adauga un articol</a>
<br />
<br />
  {% for article in article_list %}
    <div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <div class="card-header">
                <h3 class="mb-1">{{article.title}}</h3>
            </div>
            <small class="text-muted">{{article.created_at}}</small>
        </div>
        <br />
        <h4 class="mb-1"><b><i>Continutul articolului: </i></b></h4>
        <p class="mb-1">{{article.text |safe}}</p>
        <br />
        <br />
        <small class="text-muted">Categorie: {{article.category.name}}</small>
        <br />
        <small class="text-muted"><i>Articol publicat de <strong>{{article.created_by}}</strong></i></small>
        <a class="btn btn-outline-primary" align="right" href="{% url 'article_detail' article.id %}">Afisare articol</a>
    </a>
    <br />
</div>
<br />
<br />

  {% endfor %}
</div>
{% endblock %}