{% extends 'base.html' %}

{% block title %} Zikipedia {% endblock %}

{% block content %}
<h2>Categorii</h2>
<br/>
  {% for category in category_list %}
    <div style="padding-left: 30px;">
    <h4 class="mb-1">{{category.name}}</h4>
    <a class="btn btn-primary" href="{% url 'category_detail' category.id %}">Afisare categorie</a>
    <br />
    <hr />
    <br />
    </div>
  {% endfor %}
  <br/>
  {%if user.is_superuser %}
  <a  class="btn btn-success" href="{% url 'category_create' %}">Adauga categorie</a>
  {%endif%}
  <br/>
  <br />

{% endblock %}