{% extends 'base.html' %}
{% block title %}
  {{ category.name }}
{% endblock%}

{% block content %}
<div class="btn-group" role="group" style="padding-top: 30px; padding-left: 50px;">
    <h1>Categoria <i>{{category.name}} </i></h1>

    <div style="padding-left: 30px">
        <a class="btn btn-info" href="{% url 'category_edit' category.id %}">Modifica categoria</a>
    </div>

    <div style="padding-left: 30px">
      <a class="btn btn-danger" href="{% url 'category_delete' category.id %}">Sterge categoria</a>
    </div>

    <div style="padding-left: 30px">
        <a class="btn btn-success" href="{% url 'article_create' %}">Adauga un articol</a>
    </div>
</div>
<br />
<br />
{% if category.articles.all %}
  {% regroup category.articles.all|dictsortreversed:"created_at" by created_at as articles %}
  {% for article_group in articles %}
        {% for article in article_group.list %}
    <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <div class="card-header">
                        <h3 class="mb-1">{{article.title}}</h3>
                    </div>
                    <small class="text-muted">{{article.created_at}}</small>
                </div>
                <br />
                <h4 class="mb-1"><b><i>Continutul articolului: </i></b></h4>
                <p class="mb-1">{{ article.text | safe | truncatewords_html:100 }}</p>
                <small class="text-muted">{{article.category.name}}</small>
                <a class="btn btn-outline-primary" align="right" href="{% url 'article_detail' article.id %}">Afisare articol</a>
            </a>
            <br />
        </div>
        <br />
        <br />
  {% endfor %}
  {% endfor %}
  {% else %}
      <p> No articles yet.</p>
    {% endif %}


<hr />
<a class="btn btn-success" href="{% url 'allarticles' %}">Inapoi la articole</a>
<br /><br />
<a class="btn btn-success" href="{% url 'allcategories' %}">Inapoi la categorii</a>
<br />
<br />
 {% endblock %}