{% extends 'base.html' %}

{% block title %} Zikipedia {% endblock %}

{% block content %}





<div class="jumbotron">
  <h1 align="center"><b><i>Categorii</i></b></h1>
  {%for category in categories %}
      <a class="btn btn-primary" style="border-color: #eee; border-width: 5px;" href="{% url 'category_detail' category.id %}">
        {{ category.name }}
      </a>
  {%endfor%}
</div>

<div class="jumbotron">
    <h1 align="center"><b><i>Articole recente</i></b></h1>
  
  <div style="padding-top: 30px; padding-right: 0px;" align="center">
    <a class="btn btn-primary" align="center" href="{% url 'allarticles' %}">Vezi toate articolele</a>
    {% if user.is_authenticated %}
    <a class="btn btn-success" align="center" href="{% url 'article_create' %}">Adauga un articol</a>
    {% endif %}
  </div>
</div>

  {% for article in articles %}
    <div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <div class="card-header">
                <h3 class="mb-1">{{article.title}}</h3>
            </div>
            <small class="text-muted">{{article.created_ad}}</small>
        </div>
        <br />
        <h4 class="mb-1"><b><i>Continutul articolului: </i></b></h4>
        <p class="mb-1">{{ article.text | safe }}</p>
        <br />
        <br />
        <small class="text-muted">Categorie: {{article.category.name}}</small>
        <br />
        <small class="text-muted"><i>Articol publicat de <strong>{{article.created_by}}</strong></i></small>
        <a class="btn btn-outline-primary" align="right" href="{% url 'article_detail' article.id %}">Afisare articol</a>
    </a>
    <br />
</div>
<br />
<br />
  {% endfor %}

<br />
<br />
{% endblock %}
